<head>
  <link href="http://gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">

  <!-- Chrome theme-color-->
  <meta name="theme-color" content="#232323">

  <!-- RSS -->
  <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ site.baseurl }}/rss.xml">

  <!-- Web Fonts -->
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,400italic,700,700italic">
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css"> -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css">
  <!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/v4-shims.css"> -->

  <!-- CSS -->
  <link rel="stylesheet" href="{{ site.baseurl }}/css/style.css">

  <!-- Icons -->
  <link rel="apple-touch-icon-precomposed" sizes="57x57" href="{{ site.baseurl }}/public/apple-touch-icon-57x57.png" />
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ site.baseurl }}/public/apple-touch-icon-114x114.png" />
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ site.baseurl }}/public/apple-touch-icon-72x72.png" />
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ site.baseurl }}/public/apple-touch-icon-144x144.png" />
  <link rel="apple-touch-icon-precomposed" sizes="60x60" href="{{ site.baseurl }}/public/apple-touch-icon-60x60.png" />
  <link rel="apple-touch-icon-precomposed" sizes="120x120" href="{{ site.baseurl }}/public/apple-touch-icon-120x120.png" />
  <link rel="apple-touch-icon-precomposed" sizes="76x76" href="{{ site.baseurl }}/public/apple-touch-icon-76x76.png" />
  <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{ site.baseurl }}/public/apple-touch-icon-152x152.png" />
  <link rel="icon" type="image/png" href="{{ site.baseurl }}/public/favicon-196x196.png" sizes="196x196" />
  <link rel="icon" type="image/png" href="{{ site.baseurl }}/public/favicon-96x96.png" sizes="96x96" />
  <link rel="icon" type="image/png" href="{{ site.baseurl }}/public/favicon-32x32.png" sizes="32x32" />
  <link rel="icon" type="image/png" href="{{ site.baseurl }}/public/favicon-16x16.png" sizes="16x16" />
  <link rel="icon" type="image/png" href="{{ site.baseurl }}/public/favicon-128.png" sizes="128x128" />
  <meta name="application-name" content="Asger Sommer      "/>
  <meta name="msapplication-TileColor" content="#C7C7C7" />
  <meta name="msapplication-TileImage" content="{{ site.baseurl }}/public/mstile-144x144.png" />
  <meta name="msapplication-square70x70logo" content="{{ site.baseurl }}/public/mstile-70x70.png" />
  <meta name="msapplication-square150x150logo" content="{{ site.baseurl }}/public/mstile-150x150.png" />
  <meta name="msapplication-wide310x150logo" content="{{ site.baseurl }}/public/mstile-310x150.png" />
  <meta name="msapplication-square310x310logo" content="{{ site.baseurl }}/public/mstile-310x310.png" />

  <!-- Mathjax (changed http:// to https://) -->
  <script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    messageStyle: "none"
  });
  </script>
  <script async type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
  </script>

  <!-- jQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>

  <!-- bigfoot.js -->
    <script type="text/javascript" src="{{site.url}}/js/bigfoot.min.js"></script>
    <script type="text/javascript">
    $.bigfoot(
      {
        actionOriginalFN: "ignore",
        numberResetSelector: "div.post",
        popoverCreateDelay: "0",
        activateCallback: function($popover, $button) {
          if (MathJax && !$button.data('mathjax-processed')) {
            var content_wrapper = $popover.find('.footnote-content-wrapper')[0];
            MathJax.Hub.Queue(['Typeset', MathJax.Hub, content_wrapper]);
            MathJax.Hub.Queue(function () {
              $button.attr('data-footnote-content', content_wrapper.innerHTML);
              $button.data('mathjax-processed', true);
            });
          }
        }
      }
    );
    </script>

  <title>
    {% if page.title == "Home" %}
    {{ site.title }}
    {% else %}
    {{ page.title }} &#124; {{ site.title }}
    {% endif %}
  </title>

</head>
